@include block("layout") {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include block("layout-header") {
    padding: 32px 24px;
    border-bottom: 1px solid #eeeeee;
  }

  @include block("layout-body") {
    background: #fcfcfc;

    &:after {
      content: '';
      height: 80px;
      width: 100%;
      display: block;
      position: relative;
      background: -moz-linear-gradient(top, #fcfcfc 0%, #ffffff 100%);
      background: -webkit-linear-gradient(top, #fcfcfc 0%,#ffffff 100%);
      background: linear-gradient(to bottom, #fcfcfc 0%,#ffffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 );
    }

    @include element("inner") {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      padding: 0 24px;
    }

    @include block("layout-sidebar") {
      flex: 0 1 30%;
      padding: 32px 32px 0 0;
    }

    @include block("layout-main") {
      width: 100%;
      padding: 2rem 0;
      padding: 32px 0 32px 32px;
      border-left: none;

      @include block("layout-main-header") {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @include element("inner") {
          font-size: 12px;
          color: #4a4b4b;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      }

      @include block("layout-main-footer") {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
