.app-container {
  background: $appContainerBackgroundColor;
  font-family: "Roboto", sans-serif;
}

.reference-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reference-ui-header {
  padding: $sizeXL $sizeL;
  border-bottom: 1px solid $headerBorderColor;

  &__title {
    font-weight: $fontWeightNormal;
    text-align: center;
  }

  &__search {
  }
}

.sidebar {
  flex: 0 1 30%;
}

.meta {
  font-size: 12px;
  color: $metaTextColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
