@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sui-layout-header.sui-layout-header {
    padding: 0;
  }

  .sui-layout-main-header {
    @apply mb-4;
  }

  .sui-layout-header {
    @apply border-none;
  }

  .navigation {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: #000;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  .nav-wrapper {
    @apply mx-auto px-6 flex justify-between;
    max-width: 1300px;
  }

  .nav-elements {
    @apply flex items-center mr-10;
  }

  .nav-element-logo {
    @apply bg-white px-2 font-semibold border rounded-sm;
  }

  .nav-links {
    @apply ml-4 py-4;
  }

  .nav-link {
    @apply inline-flex cursor-pointer px-2 text-white;
  }

  .nav-search {
    @apply flex-auto hidden lg:flex py-2 flex justify-self-start;
  }

  .nav-search-searchbar {
    @apply border-gray-600 border bg-black py-2 px-4 pr-8 relative my-2;
    width: 500px;
  }

  .nav-search-searchbar input {
    @apply bg-black min-w-full;
  }

  .searchbar-icon {
    width: 16px;
    @apply absolute text-white right-3 top-3;
  }

  .searchbar-input {
    @apply bg-black min-w-full text-white border-none outline-none;
  }

  .autocomplete-results {
    @apply flex flex-col;
  }

  .autocomplete-result-item {
    @apply mb-2 flex space-x-5;
  }

  .autocomplete-result-item h5 {
    @apply flex-1 text-sm;
  }

  .autocomplete-result-item--img {
    max-width: 30px;
    @apply m-auto flex-shrink-0;
  }

  .sui-search-box__autocomplete-container div {
    @apply flex;
  }

  .sui-search-box__suggestion-list {
    width: 200px;
  }

  .autocomplete-results {
    width: 300px;
  }
}
