@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "normalize";

// General Colors
$black: #333333 !default;
$linkColor: #3a56e4 !default;
$textMatchColor: #3a56e4 !default;
$facetLinkColor: #4f4f4f !default;
$facetCountColor: #888888 !default;
$metaTextColor: #4a4b4b !default;
$helpTextGrayColor: #888888 !default;

// Layout Colors
$appContainerBackgroundColor: #ffffff !default;
$resultsLeftBorderColor: #eeeeee !default;

// Header Colors
$headerBackgroundColor: #f9f9f9 !default;
$headerBorderColor: #eeeeee !default;
$searchboxBorderColor: #abb1b7 !default;

// Result Colors
$resultBackgroundColor: #fcfcfc !default;
$resultBorderColor: #eeeeee !default;
$fieldHoverColor: #f6f6f6 !default;
$resultKeyTextColor: #777777 !default;

// Font Variables
$fontWeightNormal: 400 !default;
$fontWeightBold: 700 !default;

// Sizes
$sizeXSX: 2px !default;
$sizeXS: 4px !default;
$sizeS: 8px !default;
$sizeM: 12px !default;
$sizeL: 24px !default;
$sizeXL: 32px !default;
$sizeXXL: 48px !default;

$maxWidth: 1300px !default;
$offset: 175px !default;

// MIXINS
@mixin limitWidth {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
}

// Base
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: underline;
  color: $linkColor;
}

// Components
.button {
  text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset,
    rgba(59, 69, 79, 0.05) 0px 1px 0px;
  background: linear-gradient(rgb(45, 160, 250), rgb(49, 88, 238))
    rgb(47, 124, 244);
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset,
      rgba(59, 69, 79, 0.3) 0px 2px 4px;
    background: linear-gradient(rgb(60, 171, 255), rgb(64, 99, 240))
      rgb(61, 132, 247);
  }

  &:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset,
      rgba(59, 69, 79, 0.3) 0px 2px 4px;
    background: linear-gradient(rgb(34, 153, 245), rgb(39, 78, 236))
      rgb(32, 113, 245);
  }
}

.app-container {
  background: $appContainerBackgroundColor;
  font-family: "Roboto", sans-serif;
}

.reference-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reference-ui-header {
  padding: $sizeXL $sizeL;
  border-bottom: 1px solid $headerBorderColor;

  &__title {
    font-weight: $fontWeightNormal;
    text-align: center;
  }

  &__search {
  }
}

.initial-state-message,
.search-error {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
  color: $helpTextGrayColor;
}

.initial-state-message {
  .active-search & {
    display: none;
  }
}

.search-error {
  color: red;
}

.searchbox {
  @include limitWidth;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 50px;
  align-items: stretch;

  &__text-input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid $searchboxBorderColor;
    padding: 0 1em;
    outline: none;

    &::placeholder {
      color: #aaaaaa;
    }

    &.focus {
      border: 1px solid $linkColor;
    }
  }

  &__submit {
    padding: 0 2em;
    margin-left: 10px;

    .live-filtering & {
      display: none;
    }
  }
}

.search-results {
  @include limitWidth;
  display: flex;
  padding: 0 $sizeL;
}

.sidebar {
  flex: 0 1 30%;
}

.sorting {
  padding-top: $sizeXL;
  > select {
    width: calc(100% - #{$sizeXL});
  }
}

.facets {
  padding: $sizeXXL $sizeXL $sizeXXL 0;
}

.facet {
  & + & {
    margin-top: 30px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    color: #8b9bad;
    letter-spacing: 1px;
  }

  &__list {
    line-height: 1.5;
    font-size: 13px;
    margin: $sizeS 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $facetLinkColor;
    position: relative;
    text-decoration: none;

    &:after {
      content: "";
      opacity: 0;
      position: absolute;
      top: -1px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 2px);
      background: rgba(37, 139, 248, 0.08);
      pointer-events: none;
    }

    &--active {
      color: $linkColor;
    }

    &:hover {
      color: $linkColor;
      font-weight: $fontWeightBold;
      &:after {
        opacity: 1;
      }
    }
  }

  &__count {
    color: $facetCountColor;
    font-size: 0.85em;
    margin-left: 20px;
    display: inline-block;
    padding-top: 2px;
  }

  &__selected {
    font-weight: 900;

    a {
      font-weight: 100;
      padding: 0 2px;
    }
  }

  &__remove {
    color: #666;
    margin-left: 10px;
  }
}

.meta {
  font-size: 12px;
  color: $metaTextColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.results {
  width: 100%;
  padding: 2rem 0;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .active-search & {
    padding: $sizeXL 0 0 $sizeXL;
    border-left: 1px solid $resultsLeftBorderColor;
  }
}

.result {
  border-top: 1px solid $resultBorderColor;
  padding: $sizeL 0;

  & + & {
    margin-top: 20px;
  }

  em {
    position: relative;
    color: $textMatchColor;
    font-weight: 900;
    font-style: inherit;

    &:after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      background: rgba(37, 139, 248, 0.08);
      pointer-events: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.8em;
    font-weight: $fontWeightBold;
  }

  &__key {
    font-family: monospace;
    font-weight: $fontWeightNormal;
    font-size: 14px;
    flex: 0 1 50%;
    color: $resultKeyTextColor;

    &:before {
      content: '"';
    }
    &:after {
      content: '": ';
    }
  }

  &__value {
    font-weight: $fontWeightNormal;
    font-size: 14px;
  }

  &__version {
    font-size: 12px;
    display: inline;
    vertical-align: bottom;
  }

  &__lisence {
    font-size: 12px;
    color: #999999;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1;
    padding: 4px 4px 3px 4px;
  }

  &__body {
    margin-top: 1rem;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }

  &__details {
    max-height: 300px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    padding: $sizeL;
    background-color: $headerBackgroundColor;
  }

  &__footer {
    padding: 0 2rem;
    margin-top: 1rem;
    line-height: 1;
  }
}

.rc-pagination {
  display: flex;
  justify-content: center;
  a {
    color: $linkColor;
  }
  > li {
    border: none;
    background: transparent;
  }
}
.rc-pagination-disabled {
  a {
    color: #ccc;
  }
}
.rc-pagination-item-active {
  a {
    color: $facetLinkColor;
    font-weight: 900;
  }
  &:hover {
    a {
      color: $facetLinkColor;
      cursor: not-allowed;
    }
    cursor: not-allowed;
  }
}
.rc-pagination-jump-next:hover:after {
  content: "\BB";
  font-size: 16px;
  line-height: 1.5;
}
.rc-pagination-jump-prev:hover:after {
  content: "\AB";
  font-size: 16px;
  line-height: 1.5;
}

// TODO clean up, added by Jason for new components
.eco-search-facet + .eco-search-facet {
  margin-top: 20px;
}

.eco-search-facet {
  margin-right: 20px;

  .eco-search-facet-label {
    padding: 5px 0;
    font-size: 1.2em;
  }

  .eco-search-facet-option {
    display: block;

    .eco-search-facet-option__input {
      margin-right: 10px;
    }

    .eco-search-facet-option__count {
      float: right;
    }
  }
}

.eco-search-select-container {
  font-size: 0.875rem;

  .eco-search-select {
    &__control {
      border: 0;
      border-radius: 2px;
      background: #f2f2f2;
      min-height: 0;
      height: 30px;

      &--is-focused {
        border: 0;
        box-shadow: 0 0 0 1px #00a9e5;
      }
    }

    &__value-container {
      padding-top: 0;
      padding-bottom: 0;
      font-weight: 600;
    }

    &__placeholder {
      white-space: nowrap;
      position: static;
      transform: none;
      color: #000;
    }

    &__indicator-separator {
      display: none;
    }

    &__indicator {
      background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTIgNiI+DQogIDxwb2x5Z29uIGZpbGw9IiMwMEE5RTUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0NjQgNTM3IDQ1OCA1NDMgNDUyIDUzNyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQ1MiAtNTM3KSIvPg0KPC9zdmc+")
        no-repeat center center;
      svg {
        visibility: hidden;
      }
    }

    &__menu {
      border-radius: 0;
    }

    &__menu-list {
      padding: 0;
    }

    &__option {
      padding: 0 12px 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      span {
        font-size: 0.875rem;
      }

      &--is-focused {
        background: #fafafa;
      }

      &--is-selected {
        color: #000;
        background: #e8f6fb;
        position: relative;
        font-weight: 600;

        .eco-search-select__option-label {
          font-weight: 600;
          color: #000;
        }

        &:before {
          content: "";
          width: 30px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTEgOSI+DQogIDxwb2x5Z29uIGZpbGw9IiMwMEE5RTUiIHBvaW50cz0iMjAuNDk5IDE3LjI5MyAyMS45MTQgMTguNzA3IDE1LjQ2OCAyNS4xNTMgMTEuMjkzIDIwLjk3OCAxMi43MDcgMTkuNTY0IDE1LjQ2OCAyMi4zMjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMSAtMTcpIi8+DQo8L3N2Zz4=")
            no-repeat center center;
          pointer-events: none;
        }
      }
    }

    &__option-count {
      color: #9b9b9b;
    }
  }
}
