@import "../../../../../../../node_modules/rc-pagination/assets/index";
@include block("paging") {
  > li {
    border: none;

    .rc-pagination-item-link {
      border: none;
      font-size: 16px;
      color: $facetLinkColor;

      &:hover {
        color: $facetLinkColor;
        background: $pagingHoverBackground;
      }
    }
  }

  .rc-pagination-disabled {
    .rc-pagination-item-link {
      color: #ccc;
      opacity: 0.8;

      &:hover {
        color: #ccc;
      }
    }
  }

  .rc-pagination-item {
    a {
      color: $linkColor;
      text-decoration: none;
    }
  }

  .rc-pagination-item-active {
    a {
      color: $facetLinkColor;
      font-weight: $fontWeightBold;
    }

    &:hover {
      background: transparent;
      cursor: not-allowed;

      a {
        color: $facetLinkColor;
        cursor: not-allowed;
      }
    }

    .rc-pagination-jump-prev,
    .rc-pagination-jump-next {
      .rc-pagination-item-link {
        color: $facetLinkColor;

        &:hover {
          color: $facetLinkColor;
        }
      }
    }
  }
}
