@include block('search-box') {
  display: flex;
  position: relative;
  // overflow: hidden;
  justify-content: center;
  height: 50px;
  align-items: stretch;
  font-family: $fontFamily;

  @include element('text-input') {
    width: 100%;
    border-radius: $borderRadius;
    border: 1px solid $searchboxBorderColor;
    padding: 0 1em;
    outline: none;
    font-size: 14px;

    &::placeholder {
      color: #aaaaaa;
    }

    &.focus {
      border: 1px solid $linkColor;
    }
  }

  @include element('submit') {
    font-size: 14px;
    padding: 0 2em;
    margin-left: 10px;
    text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset,
      rgba(59, 69, 79, 0.05) 0px 1px 0px;
    background: linear-gradient(rgb(45, 160, 250), rgb(49, 88, 238))
      rgb(47, 124, 244);
    cursor: pointer;
    border-radius: $borderRadius;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset,
        rgba(59, 69, 79, 0.3) 0px 2px 4px;
      background: linear-gradient(rgb(60, 171, 255), rgb(64, 99, 240))
        rgb(61, 132, 247);
    }

    .live-filtering & {
      display: none;
    }
  }

  @include element('wrapper') {
    width: 100%;
    height: auto;
    outline: none;
    display: flex;
    border-radius: 3px;
    position: relative;

    // width: 100%;
    // outline: none;
    // display: flex;
    // flex-direction: column;
    // box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);

    // &.focus {
    //   outline: none;
    //   box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset,
    //     rgba(59, 69, 79, 0.3) 0px 2px 4px;
    //   background: linear-gradient(rgb(34, 153, 245), rgb(39, 78, 236))
    //     rgb(32, 113, 245);
    // }
  }

  @include element('autocomplete') {
    overflow: visible;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  &.autocomplete {

  }
}


// .sui-search-box {


//   &.autocomplete {
//     overflow: visible;
//     position: absolute;
//     width: 100%;
//     left: 0;
//     right: 0;
//     z-index: 1;

//     .sui-search-box__text-input {
//       border-bottom: none;
//       border-bottom-left-radius: 0;
//       border-bottom-right-radius: 0;
//     }

//     .query-suggestions-wrapper {
//       width: 100%;
//       outline: none;
//       display: flex;
//       flex-direction: column;
//       // position: relative;
//       box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
//     }

//     .query-suggestions {
//       // position: absolute;
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       top: 50px;
//       margin: 0;
//       padding: 1em 0;
//       line-height: 1.5;
//       background: white;
//       border-top: 1px solid #f0f0f0;
//       border-left: 1px solid #abb1b7;
//       border-right: 1px solid #abb1b7;
//       border-bottom: 1px solid #abb1b7;
//       border-top-left-radius: 0;
//       border-top-right-radius: 0;
//       border-bottom-left-radius: 3px;
//       border-bottom-right-radius: 3px;
//     }

//     .sui-search-box__text-input.focus + .query-suggestions {
//       border-left: 1px solid $linkColor;
//       border-right: 1px solid $linkColor;
//       border-bottom: 1px solid $linkColor;
//     }

//     .query-suggestions li {
//       padding: 0;
//       margin: 0;
//     }

//     .query-suggestions a {
//       color: #333333;
//       text-decoration: none;
//       display: block;
//       padding: 0 1em;

//       &:hover {
//         background: #f0f0f0;
//       }

//       &:focus {
//         outline: none;
//         background: #f0f0f0;
//       }
//     }

//     .query-suggestions em {
//       font-weight: bold;
//       font-style: normal;
//     }
//   }
// }
