// Search Select
@include block("rrs", true) {
  @include themeTypography;
  @include box-sizing;

  font-size: 0.875rem;
  margin-top: $sizeS;
  width: 100%;
  position: relative;

  @include modifier("inline") {
    margin-top: 0;
  }

  @include modifier("is-disabled") {
    opacity: 0.5;
  }

  @include element("button") {
    background-color: $facetSelectBackground;
    border: 1px solid $facetSelectBorder;
    border-radius: $borderRadius;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 6px 8px;
  }

  @include element("option-label") {
    color: #4f4f4f;
  }

  @include element("option-count") {
    color: #888888;
    font-size: 0.8em;
  }

  // @include element("value-container") {
  //   padding-top: 0;
  //   padding-bottom: 0;

  //   @include modifier("has-value") {
  //     font-weight: $fontWeightBold;
  //     color: $black;
  //   }
  // }

  // @include element("placeholder") {
  //   white-space: nowrap;
  //   position: static;
  //   transform: none;
  //   color: $black;
  // }

  // @include element("dropdown-indicator") {
  //   display: flex;
  //   height: $sizeXL;
  //   width: $sizeXL;
  //   align-items: center;
  //   justify-content: center;
  // }

  // @include element("option-count") {
  //   color: $facetCountColor;
  //   font-size: 0.8em;
  // }

  @include element("label") {
    color: $facetLinkColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  @include modifier("has-changed") {
    @include block("rrs", true) {
      @include element("label") {
        font-weight: bold;
      }
    }
  }

  @include element("options") {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    padding: 4px 0;
    margin-bottom: 8px;
    margin-top: 8px;

    width: 100%;
    box-sizing: border-box;

    background-color: hsl(0, 0%, 100%);

    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    height: 0;

    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    border-radius: 4px;

    visibility: hidden;
    overflow: hidden;
  }

  @include modifier("options-visible") {
    @include block("rrs", true) {
      @include element("options") {
        height: auto;
        visibility: visible;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        max-height: 230px;
      }

      @include element("button") {
        border: 1px solid $linkColor;
      }
    }
  }

  @include element("option") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-weight: $fontWeightNormal;
    padding: $sizeS $sizeM;
    cursor: pointer;
    outline: none;

    &:hover {
      background: $facetSelectBackground;
    }
  }
}
