/* EUI overrides */

html {
  background: none !important;
}

.sui-search-box__text-input:focus:focus-visible {
  outline: none;
}

.sui-facet-search__text-input:focus:focus-visible {
  outline: none;
}

.login-modal {
  min-width: 0;
}

.login-modal:focus:focus-visible {
  outline: none;
}

.login-modal__header {
  justify-content: center;
}

.login-modal .euiModal__closeIcon {
  display: none;
}
