.initial-state-message,
.search-error {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
  color: $helpTextGrayColor;
}

.initial-state-message {
  .active-search & {
    display: none;
  }
}

.search-error {
  color: red;
}
