@include block(results-per-page) {
  @include themeTypography;
  color: $metaTextColor;
  font-size: 12px;
  display: inline-block;

  @include element(label) {

  }

  @include element(select) {

  }
}
