// Search Facet
@include block('search-facet') {
  @include themeTypography;
  list-style: none;

  @include element('label') {
    font-size: $sizeM;
    color: $facetLabel;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

// Search Facet Option
@include block('search-facet-option') {
  @include themeTypography;
  display: block;

  @include element('input') {
    margin-right: 10px;
  }

  @include element('count') {
    float: right;
  }
}
